services:
  - type: web
    name: cinespace
    env: python
    buildCommand: |
      pip install -r requirements.txt
      python manage.py collectstatic --noinput
      python manage.py migrate --noinput
    startCommand: gunicorn cinespace.wsgi:application
    envVars:
      - key: DJANGO_SETTINGS_MODULE
        value: cinespace.settings
      - key: ENVIRONMENT
        value: production
      - key: SECRET_KEY
        value: sua-secret-key-segura
      - key: EMAIL_HOST_USER
        value: oficialcinespace@gmail.com
      - key: EMAIL_HOST_PASSWORD
        value: sua-senha-de-aplicativo
      - key: DEFAULT_FROM_EMAIL
        value: oficialcinespace@gmail.com
      - key: ENCRYPTION_KEY
        value: sua-chave-do-Fernet
