<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Enviado - CineSpace</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/cadastro/loginecadastro.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="bannerfundo">
        <img src="{% static 'imagens/fundos/bannercadastro.png' %}" alt="Imagem de Fundo">
    </div>
    <header>
        <div class="back-button">
            <a href="{% url 'index' %}" class="botao-voltar">Voltar</a>
        </div>
    </header>
        <div class="login-container">
            <h2>CINESPACE</h2>
            <p>Verifique seu email para continuar com a redefinição de senha.</p>
            <a href="{% url 'paginalogin' %}" class="botao-entrar">Voltar para Login</a>
           
        </div>
    </div>
</body>
</html>
