<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Encontre os melhores trailers de filmes, séries, animes e doramas. Explore lançamentos e produções famosas com uma experiência visual incrível.">
    <meta property="og:title" content="Cinetrailers">
    <meta property="og:description"
        content="Encontre os melhores trailers de filmes, séries, animes e doramas. Explore lançamentos e produções famosas com uma experiência visual incrível.">

    <title>Assistir - Filmes </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/exibirfilmes.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="icon" href="{% static 'imagens/favicon cinetrailers.png' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'imagens/favicon cinetrailers.png' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div class="site-logo">
            <a href="{% url 'index' %}" class="logo-text">CINESPACE</a>
        </div>

        <nav class="nav-menu">
            <ul>
                <li><a href="{% url 'filmes' %}">FILMES</a></li>
                <li><a href="{% url 'series' %}">SERIES</a></li>
                <li><a href="{% url 'animes' %}">ANIMES</a></li>
                <li><a href="{% url 'esportes' %}">SPACE ESPORTES</a></li>
                <li><a href="#">SPACE MUSIC</a></li>
            </ul>
        </nav>
        <script src="https://www.youtube.com/iframe_api"></script>
        <div class="header-icons">
            <div id="search-icon" class="search-icon" onclick="toggleSearchContainer()">
                <img src="{% static 'imagens/vectores/lupavec.png' %}" alt="Pesquisar">
            </div>
            <div id="alert-icon" class="alert-icon">
                <img src="{% static 'imagens/vectores/alertvec.png' %}" alt="Alerta">
            </div>
            <div class="profile-header">
                <img id="profileImage" src="{% static 'imagens/default/profile.jpg' %}" alt="Perfil"
                    class="perfil-image">
                <img id="arrowIcon" src="{% static 'imagens/vectores/setaprabaixovec.png' %}" alt="Abrir menu"
                    class="arrow-icon">
                <div class="menu-perfil">
                    <!-- Link para a página inicial (Home) -->
                    <a href="{% url 'cinetrailers' %}" class="menu-item">
                        <img src="{% static 'imagens/vectores/homevec.png' %}" alt="Home">
                        <span class="menu-text">Home</span>
                    </a>

                    <!-- Link para a página de configurações -->
                    <a href="{% url 'configuracoes' %}" class="menu-item">
                        <img src="{% static 'imagens/vectores/configvec.png' %}" alt="Configurações">
                        <span class="menu-text">Configurações</span>
                    </a>

                    <!-- Link para a página de escolher usuário (Trocar Perfil) -->
                    <a href="{% url 'escolherusuario' %}" class="menu-item">
                        <img src="{% static 'imagens/vectores/perfilvec.png' %}" alt="Trocar-Perfil">
                        <span class="menu-text">Trocar Perfil</span>
                    </a>

                    <!-- Link para a página de gerenciar perfis (Editar) -->
                    <a href="{% url 'gerenciar_perfis' %}" class="menu-item">
                        <img src="{% static 'imagens/vectores/lapisvec.png' %}" alt="EditarPerfil">
                        <span class="menu-text">Editar Perfil</span>
                    </a>

                    <!-- Link para a página de ajuda -->
                    <a href="{% url 'ajuda' %}" class="menu-item">
                        <img src="{% static 'imagens/vectores/ajudavec.png' %}" alt="Ajuda">
                        <span class="menu-text">Ajuda</span>
                    </a>

                    <!-- Link para logout -->
                    <a href="{% url 'logout' %}" class="menu-item">
                        <img src="{% static 'imagens/vectores/sairvec.png' %}" alt="Sair">
                        <span class="menu-text">Sair</span>
                    </a>
                </div>
            </div>


            <div id="search-container" class="hidden">
                <img id="search-input-icon" src="{% static 'imagens/buscaicon1.png' %}" alt="Pesquisar"
                    class="input-icon">
                <input type="text" name="query" placeholder="Pesquise..." id="search-input">
            </div>
    </header>




    <div class="serie-container">
        <!-- Imagem de banner -->
        <img id="bannerImage"
            src="https://lbatistaautor.com/wp-content/uploads/2023/06/scale-1200x600.jpg"
            alt="Banner do filme" class="banner-image">

        <!-- Vídeo (inicialmente oculto) -->
        <video id="trailerVideo" class="hidden">
            Seu navegador não suporta vídeos.
        </video>


        <!-- Botão de Som -->
        <button id="sound-toggle" class="sound-button hidden" data-sound-on="{% static 'imagens/somativo.png' %}"
            data-sound-off="{% static 'imagens/sommutado.png' %}">
            <img id="sound-icon" src="{% static 'imagens/sommutado.png' %}" alt="Som Mudo" />
        </button>

        <!-- Container para agrupar os elementos -->
        <div class="content-container">
            <!-- Botões de Gênero -->
            <div class="genre-buttons-video">
                <button class="genre-btn-video">Filmes</button>
                <button class="genre-btn-video">Ação</button>
            </div>

            <!-- Título e Subtítulo -->
            <h2 class="movie-title-video">Vingadores: Ultimato</h2>
            <p class="movie-subtitle-video">O desfecho épico da saga do Infinito.</p>

          <!-- Informações do Filme -->
    <div class="movie-info-video">
        <span class="movie-year-video">2019</span>
        <span class="separator-video">|</span>
        <span class="movie-duration-video">3h 1min</span>
        <span class="separator-video">|</span>
        <img src="{% static 'imagens/vectores/idade12.png' %}" alt="Classificação 12 anos" class="classificacao-idade-video">
        <span class="separator-video">|</span>
        <div class="estrelas-video">
            <img src="{% static 'imagens/vectores/starvec.png' %}" alt="Estrela" class="star">
            <img src="{% static 'imagens/vectores/starvec.png' %}" alt="Estrela" class="star">
            <img src="{% static 'imagens/vectores/starvec.png' %}" alt="Estrela" class="star">
            <img src="{% static 'imagens/vectores/starvec.png' %}" alt="Estrela" class="star">
            <img src="{% static 'imagens/vectores/starvec.png' %}" alt="Estrela" class="star">
        </div>
    </div>

            <!-- Linha de Separação -->
            <div class="separator-line-video"></div>

            <!-- Descrição da Série -->
            <div class="movie-description-video">
                <p>Após os eventos devastadores de "Guerra Infinita", os Vingadores restantes precisam encontrar uma maneira 
                    de reverter o caos causado por Thanos. Unidos, eles embarcam em uma missão épica para restaurar o equilíbrio 
                    do universo e dar um fim definitivo à ameaça do Titã Louco.
                </p>
            </div>
        </div>

        <!-- Botões de Ação -->
        <div class="movie-actions-video">
            <button id="assistirBtn" class="assistir-btn-video">
                <img src="{% static 'imagens/vectores/playvec.png' %}" alt="Assistir" class="play-icon-video"> Assistir
            </button>
            <button class="minha-lista-btn-video">
                <img src="{% static 'imagens/vectores/Favoritos.png' %}" alt="Minha Lista" class="plus-icon-video"> Add
                a lista
            </button>
        </div>
        <!-- Novos Botões de Ação à Direita -->
        <div class="movie-actions-video-right">
            <button class="download-btn-video">
                <img src="{% static 'imagens/vectores/Dowloand.png' %}" alt="Download" class="download-icon-video">
                Download
            </button>
            <button class="curtir-btn-video">
                <img src="{% static 'imagens/vectores/curtir.png' %}" alt="Curtir" class="curtir-icon-video"> Curtir
            </button>
        </div>
    </div>

    <!-- Modal do Player -->
    <div id="videoModal" class="modal">
        <div class="modal-content">
            <!-- Botão de fechar (seta) -->
            <button class="close">
                <img src="{% static 'imagens/player/seta-esquerda.png' %}" alt="Fechar">
            </button>

            <video id="videoPlayer">
                <source src="http://10.53.51.20:5500/filmes/vingadoresultimato.mp4" type="video/mp4">
                Seu navegador não suporta vídeos.
            </video>
            <!-- Nome do filme -->
            <div id="movieTitle" class="movie-title-modal">
                Vingadores: Ultimato
            </div>
            <!-- Ícone de play/pause na tela -->
            <div id="videoPlayPauseOverlay" class="play-pause-overlay">
                <img id="videoPlayPauseIcon" src="{% static 'imagens/player/play.png' %}" alt="Play/Pause">
            </div>

            <!-- Controles do player -->
            <div class="player-controls">
                <!-- Botão de retroceder 15 segundos -->
                <button id="rewindButton" class="control-button skip-button">
                    <img src="{% static 'imagens/player/menos15seg.png' %}" alt="Retroceder 15s">
                </button>

                <!-- Botão de Play/Pause -->
                <button id="playPauseButton" class="control-button">
                    <img id="playPauseIcon" src="{% static 'imagens/player/pausa.png' %}" alt="Play/Pause">
                </button>

                <!-- Botão de avançar 15 segundos -->
                <button id="forwardButton" class="control-button skip-button">
                    <img src="{% static 'imagens/player/mais15seg.png' %}" alt="Avançar 15s">
                </button>

                <!-- Ícone de volume e controle de volume -->
                <div class="volume-control">
                    <button id="volumeButton" class="control-button">
                        <img id="volumeIcon" src="{% static 'imagens/player/volume.png' %}" alt="Volume">
                    </button>
                    <div class="volume-slider-container">
                        <input id="volumeSlider" type="range" min="0" max="1" step="0.1" value="1"
                            class="volume-slider">
                    </div>
                </div>

                <!-- Tempo do vídeo -->
                <div id="videoTime" class="video-time">00:00 / 00:00</div>
                <!-- Preview do vídeo ao arrastar a barra de progresso -->

                <div id="videoPreview" class="video-preview">
                    <img id="previewImage" src="" alt="Preview do Vídeo">
                    <span id="previewTime">00:00</span>
                </div>
                <!-- Controle de velocidade -->
                <div class="speed-control">
                    <button id="speedButton" class="control-button">
                        <img src="{% static 'imagens/player/velocidade.png' %}" alt="Velocidade">
                    </button>
                    <div id="speedMenu" class="speed-menu">
                        <button data-speed="0.5">0.5x</button>
                        <button data-speed="1">1x</button>
                        <button data-speed="1.5">1.5x</button>
                        <button data-speed="2">2x</button>
                    </div>
                </div>

                <!-- Ícone de legendas -->
                <button id="subtitlesButton" class="control-button">
                    <img src="{% static 'imagens/player/legenda.png' %}" alt="Legendas">
                </button>

                <!-- Botão de tela cheia -->
                <button id="fullscreenButton" class="control-button">
                    <img src="{% static 'imagens/player/telacheia.png' %}" alt="Tela Cheia">
                </button>
            </div>

            <!-- Barra de progresso -->
            <div class="progress-container">
                <div id="progressBar" class="progress-bar"></div>
                <div id="progressBall" class="progress-ball"></div>
            </div>

            <!-- Ícone de feedback para retroceder 15 segundos -->
            <div id="rewindFeedback" class="feedback-icon left">
                <img src="{% static 'imagens/player/menos15seg.png' %}" alt="Retroceder 15s">
            </div>

            <!-- Ícone de feedback para avançar 15 segundos -->
            <div id="forwardFeedback" class="feedback-icon right">
                <img src="{% static 'imagens/player/mais15seg.png' %}" alt="Avançar 15s">
            </div>

        </div>
    </div>






    <div class="content-background">

        <section class="elenco-carrossel">
            <h2>Elenco</h2>
            <div class="carousel-container carousel-container-elenco">
                <div class="carousel-overlay-elenco left-overlay-elenco"></div>
                <div class="carousel-overlay-elenco right-overlay-elenco"></div>
                <img src="{% static 'imagens/vectores/seta-esquerda.png' %}" alt="Seta Esquerda"
                    class="carousel-elenco left-arrow-elenco">
                <div class="carousel carrossel-elenco">
                    <!-- Item 1 -->
                    <div class="carousel-item carrossel-elenco">
                        <div class="ator-container">
                            <div class="ator-imagem-container">
                                <img src="https://br.web.img3.acsta.net/c_310_420/pictures/18/06/29/00/35/0101925.jpg"
                                    alt="Ator 1" class="ator-imagem">
                            </div>
                            <div class="ator-info">
                                <h4 class="ator-nome">Robert Downey Jr.</h4>
                                <p class="ator-personagem">Tony Star</p>
                            </div>
                        </div>
                    </div>
                    <!-- Item 2 -->
                    <div class="carousel-item carrossel-elenco">
                        <div class="ator-container">
                            <div class="ator-imagem-container">
                                <img src="https://m.media-amazon.com/images/M/MV5BNzQ0YWM1ODEtZDFkYy00MGJhLTkwZDUtMzVkZjljODU3ZTRmXkEyXkFqcGc@._V1_FMjpg_UX1000_.jpg"
                                    alt="Ator 2" class="ator-imagem">
                            </div>
                            <div class="ator-info">
                                <h4 class="ator-nome">Chris Evans</h4>
                                <p class="ator-personagem">Steve Rogers</p>
                            </div>
                        </div>
                    </div>
                    <!-- Item 3 -->
                    <div class="carousel-item carrossel-elenco">
                        <div class="ator-container">
                            <div class="ator-imagem-container">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Scarlett_Johansson_by_Gage_Skidmore_2_%28cropped%2C_2%29.jpg/640px-Scarlett_Johansson_by_Gage_Skidmore_2_%28cropped%2C_2%29.jpg"
                                    alt="Ator 3" class="ator-imagem">
                            </div>
                            <div class="ator-info">
                                <h4 class="ator-nome">Scarlett Johansson</h4>
                                <p class="ator-personagem">Natasha Romanov</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item carrossel-elenco">
                        <div class="ator-container">
                            <div class="ator-imagem-container">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Chris_Hemsworth_by_Gage_Skidmore_2_%28cropped%29.jpg/1200px-Chris_Hemsworth_by_Gage_Skidmore_2_%28cropped%29.jpg"
                                    alt="Ator 1" class="ator-imagem">
                            </div>
                            <div class="ator-info">
                                <h4 class="ator-nome">Chris Hemsworth</h4>
                                <p class="ator-personagem">Thor</p>
                            </div>
                        </div>
                    </div>
                    <!-- Item 2 -->
                    <div class="carousel-item carrossel-elenco">
                        <div class="ator-container">
                            <div class="ator-imagem-container">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/6/61/Mark_Ruffalo_%2836243137665%29_%28cropped%29.jpg"
                                    alt="Ator 2" class="ator-imagem">
                            </div>
                            <div class="ator-info">
                                <h4 class="ator-nome">Mark Ruffalo</h4>
                                <p class="ator-personagem">Hulk</p>
                            </div>
                        </div>
                    </div>
                    <!-- Item 3 -->
                    <div class="carousel-item carrossel-elenco">
                        <div class="ator-container">
                            <div class="ator-imagem-container">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Jeremy_Renner_by_Gage_Skidmore.jpg/1200px-Jeremy_Renner_by_Gage_Skidmore.jpg"
                                    alt="Ator 3" class="ator-imagem">
                            </div>
                            <div class="ator-info">
                                <h4 class="ator-nome">Jeremy Renner</h4>
                                <p class="ator-personagem">Bart Clint</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item carrossel-elenco">
                        <div class="ator-container">
                            <div class="ator-imagem-container">
                                <img src="https://m.media-amazon.com/images/M/MV5BNDY4MjI4YzEtMzgxYS00N2M5LWEwMmQtZjYwNGE0OThmYTQ0XkEyXkFqcGc@._V1_FMjpg_UX1000_.jpg"
                                    alt="Ator 1" class="ator-imagem">
                            </div>
                            <div class="ator-info">
                                <h4 class="ator-nome">Brie Larson</h4>
                                <p class="ator-personagem">Carol Danvers</p>
                            </div>
                        </div>
                    </div>
                    <!-- Item 2 -->
                    <div class="carousel-item carrossel-elenco">
                        <div class="ator-container">
                            <div class="ator-imagem-container">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/7/75/Paul_Rudd_and_Kate_Mara_at_the_2024_Toronto_International_Film_Festival_8.jpg"
                                    alt="Ator 2" class="ator-imagem">
                            </div>
                            <div class="ator-info">
                                <h4 class="ator-nome">Paul Rudd</h4>
                                <p class="ator-personagem">Scott lang</p>
                            </div>
                        </div>
                    </div>
                    <!-- Item 3 -->
                    <div class="carousel-item carrossel-elenco">
                        <div class="ator-container">
                            <div class="ator-imagem-container">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgZhZRFgE-gcAOcuZigqjKL-nTzHUwt7Wd0g&s"
                                    alt="Ator 3" class="ator-imagem">
                            </div>
                            <div class="ator-info">
                                <h4 class="ator-nome">Don Cheadle</h4>
                                <p class="ator-personagem">James Rhodes</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item carrossel-elenco">
                        <div class="ator-container">
                            <div class="ator-imagem-container">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Elizabeth_Olsen_at_the_2024_Toronto_International_Film_Festival_3_%28cropped%29.jpg/1200px-Elizabeth_Olsen_at_the_2024_Toronto_International_Film_Festival_3_%28cropped%29.jpg"
                                    alt="Ator 1" class="ator-imagem">
                            </div>
                            <div class="ator-info">
                                <h4 class="ator-nome">Elizabeth Olsen</h4>
                                <p class="ator-personagem">Wanda Maximov</p>
                            </div>
                        </div>
                    </div>
                    <!-- Item 2 -->
                    <div class="carousel-item carrossel-elenco">
                        <div class="ator-container">
                            <div class="ator-imagem-container">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Tom_Holland_by_Gage_Skidmore.jpg/800px-Tom_Holland_by_Gage_Skidmore.jpg"
                                    alt="Ator 2" class="ator-imagem">
                            </div>
                            <div class="ator-info">
                                <h4 class="ator-nome">Tom Holland</h4>
                                <p class="ator-personagem">Peter Parker</p>
                            </div>
                        </div>
                    </div>
                    <!-- Item 3 -->
                    <div class="carousel-item carrossel-elenco">
                        <div class="ator-container">
                            <div class="ator-imagem-container">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRihboW-OFFzindD8MjRRZksYUVbqkRRObmPA&s"
                                    alt="Ator 3" class="ator-imagem">
                            </div>
                            <div class="ator-info">
                                <h4 class="ator-nome">Chadwick Boseman</h4>
                                <p class="ator-personagem">Tchalla</p>
                            </div>
                        </div>
                    </div>
                    <!-- Adicione mais itens conforme necessário -->
                </div>
                <img src="{% static 'imagens/vectores/seta-direita.png' %}" alt="Seta Direita"
                    class="carousel-elenco right-arrow-elenco">
            </div>
        </section>


        <div class="categories-menu">
            <!-- Categoria Detalhes -->
            <div class="category-item">
                <button class="category-button" data-target="#detalhes">Detalhes</button>
            </div>

            <!-- Categoria Curiosidades -->
            <div class="category-item">
                <button class="category-button" data-target="#curiosidades">Curiosidades</button>
            </div>
        </div>

        <section id="detalhes" class="content-section" style="display: none;">
            <div class="detalhes-container">
                <!-- Lado esquerdo -->
                <div class="detalhes-esquerdo">
                    <!-- Ano de Lançamento -->
                    <div class="detalhe-item">
                        <img src="{% static 'imagens/vectores/calendariovec.png' %}" alt="Ícone de Calendário"
                            class="icone">
                        <div>
                            <p class="detalhe-titulo">Ano de lançamento</p>
                            <p class="detalhe-info">2019</p>
                        </div>
                    </div>
                    <!-- Línguas -->
                    <div class="detalhe-item">
                        <img src="{% static 'imagens/vectores/linguavec.png' %}" alt="Ícone de Tradutor" class="icone">
                        <div>
                            <p class="detalhe-titulo">Línguas</p>
                            <p class="detalhe-info">English, Hindi, Tamil, Telugu, Kannada, Portugues</p>
                        </div>
                    </div>
                    <!-- Avaliação -->
                    <div class="detalhe-item">
                        <img src="{% static 'imagens/vectores/avaliaçãovec.png' %}" alt="Ícone de Avaliação"
                            class="icone">
                        <div>
                            <p class="detalhe-titulo">Avaliação</p>
                        </div>
                    </div>
                    <div class="avaliacao">
                        <div class="avaliacao-item">
                            <p class="titulo-avaliacao">IMDb</p>
                            <div class="estrelas">
                                <img src="{% static 'imagens/vectores/estrelaazulvec.png' %}" alt="Estrela Cheia"
                                    class="estrela">
                                <img src="{% static 'imagens/vectores/estrelaazulvec.png' %}" alt="Estrela Cheia"
                                    class="estrela">
                                <img src="{% static 'imagens/vectores/estrelaazulvec.png' %}" alt="Estrela Cheia"
                                    class="estrela">
                                <img src="{% static 'imagens/vectores/estrelaazulvec.png' %}" alt="Estrela Cheia"
                                    class="estrela">
                                <span class="nota">4.3</span>
                            </div>
                        </div>
                        <div class="avaliacao-item">
                            <p class="titulo-avaliacao">Sensação ao Assistir</p>
                            <div class="estrelas">
                                <img src="{% static 'imagens/vectores/estrelaazulvec.png' %}" alt="Estrela Cheia"
                                    class="estrela">
                                <img src="{% static 'imagens/vectores/estrelaazulvec.png' %}" alt="Estrela Cheia"
                                    class="estrela">
                                <img src="{% static 'imagens/vectores/estrelaazulvec.png' %}" alt="Estrela Cheia"
                                    class="estrela">
                                <img src="{% static 'imagens/vectores/estrelaazulvec.png' %}" alt="Estrela Cheia"
                                    class="estrela">
                                <span class="nota">4.5</span>
                            </div>
                        </div>
                    </div>
                    <!-- Gênero -->
                    <div class="detalhe-item">
                        <img src="{% static 'imagens/vectores/generovec.png' %}" alt="Ícone de Gênero" class="icone">
                        <div>
                            <p class="detalhe-titulo">Gênero</p>
                            <p class="detalhe-info">Ação/Aventura</p>
                        </div>
                    </div>
                </div>

                <!-- Lado direito -->
                <div class="detalhes-direito">
                    <!-- Diretor -->
                    <p class="titulo-direito">Diretor</p>
                    <div class="detalhe-item info-pessoal">
                        <img src="https://m.media-amazon.com/images/M/MV5BMTc2NjM5MTM0Ml5BMl5BanBnXkFtZTgwMTY3ODczNjM@._V1_.jpg"
                            alt="Foto do Diretor" class="foto-pessoal">
                        <div>
                            <p class="detalhe-info">Anthony Russo</p>
                            <p class="detalhe-info-menor"> norte-americano </p>
                        </div>
                    </div>

                    <!-- Música -->
                    <p class="titulo-direito"> Roteirista</p>
                    <div class="detalhe-item info-pessoal">
                        <img src="https://m.media-amazon.com/images/M/MV5BMjAxMDAwODYwOV5BMl5BanBnXkFtZTcwMjc5OTEwNg@@._V1_.jpg"
                            alt="Foto da Música" class="foto-pessoal">
                        <div>
                            <p class="detalhe-info">Christopher Markus</p>
                            <p class="detalhe-info-menor">EUA</p>
                        </div>
                    </div>
                    <!-- Música -->
                    <p class="titulo-direito">Produtor</p>
                    <div class="detalhe-item info-pessoal">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Kevin_Feige_by_Gage_Skidmore.jpg/1200px-Kevin_Feige_by_Gage_Skidmore.jpg"
                            alt="Foto da Música" class="foto-pessoal">
                        <div>
                            <p class="detalhe-info">Kevin Feige</p>
                            <p class="detalhe-info-menor">EUA</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="curiosidades" class="content-section" style="display: none;">
            <div class="detalhes-container">
                <!-- Lado esquerdo -->
                <div class="detalhes-esquerdo">
                    <!-- Ano de Lançamento -->
                    <div class="detalhe-item">
                        <img src="{% static 'imagens/vectores/curiosidadevec.png' %}" alt="Ícone de Calendário"
                            class="icone">
                        <div>
                            <p class="detalhe-titulo">Robert Downey Jr. improvisou a fala mais icônica do filme</p>
                            <p class="detalhe-info">A famosa frase "Eu sou o Homem de Ferro" (dita por Tony Stark no final do filme) não estava no roteiro original. Robert Downey Jr. sugeriu a mudança durante as filmagens, como um callback à primeira cena do Homem de Ferro em 2008. Os diretores aprovaram na hora, e a linha se tornou um dos momentos mais emocionantes da saga.</p>
                        </div>
                    </div>
                    <div class="detalhe-item">
                        <img src="{% static 'imagens/vectores/curiosidadevec.png' %}" alt="Ícone de Calendário"
                            class="icone">
                        <div>
                            <p class="detalhe-titulo">A batalha final quase teve um vilão extra</p>
                            <p class="detalhe-info">Originalmente, Thanos não estaria sozinho na batalha final: os roteiristas planejavam trazer de volta os "Filhos de Thanos" (Corvus Glaive, Ebony Maw, etc.) como aliados. A ideia foi descartada para focar no confronto direto entre os Vingadores e o Titã Louco. Cenas deletadas mostram testes de CGI com os personagens.</p>
                        </div>
                    </div>

        </section>





        <section>
            <h1 class="carousel-title">Filmes Relacionados</h1>
            <div class="carousel-container carrossel-um">
                <div class="carousel-overlay left-overlay"></div>
                <div class="carousel-overlay right-overlay"></div>
                <img src="{% static 'imagens/vectores/seta-esquerda.png' %}" alt="Seta Esquerda"
                    class="carousel-1 left-arrow">
                <div class="carousel carrossel-um">
                    <div class="carousel-item carrossel-um">
                        <a href="/series/Vampiresdiares.html">
                            <img class="carrossel-um"
                                src="https://upload.wikimedia.org/wikipedia/pt/d/da/Thunderbolts_2025.jpg"
                                alt="Kingsman">
                            <!-- Apenas um botão de play -->
                            <button class="play-button-um">▶</button> <!-- Novo botão de play -->
                        </a>
                        <h4 class="movie-title">Thunderbolts*</h4>
                        <div class="movie-info">
                            <span class="movie-year">2025</span>
                            <span class="movie-rating">⭐ 4.5</span>

                        </div>
                    </div>

                    <div class="carousel-item carrossel-um">
                        <a href="https://link-para-novidade2.com">
                            <img class="carrossel-um"
                                src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTvLREsZsA67x2xbv43gZfecSQxU9SUxxv18h5d5xjtNQPqEoQZ"
                                alt="">
                            <!-- Apenas um botão de play -->
                            <button class="play-button-um">▶</button> <!-- Novo botão de play -->
                        </a>
                        <h4 class="movie-title">Capitão América: Admirável Mundo Novo</h4>
                        <div class="movie-info">
                            <span class="movie-year">2025</span>
                            <span class="movie-rating">⭐ 3.9</span>

                        </div>
                    </div>

                    <div class="carousel-item carrossel-um">
                        <a href="#">
                            <img class="carrossel-um"
                                src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTV8oe8nCv3hYp61LjZSkVXGxcWXC7GWJOa0fOSEt-OZc8XMZt-"
                                alt="">
                            <!-- Apenas um botão de play -->
                            <button class="play-button-um">▶</button> <!-- Novo botão de play -->
                        </a>
                        <h4 class="movie-title">Kraven, o Caçador</h4>
                        <div class="movie-info">
                            <span class="movie-year">2024</span>
                            <span class="movie-rating">⭐ 3.5</span>

                        </div>
                    </div>
                    <div class="carousel-item carrossel-um">
                        <a href="#">
                            <img class="carrossel-um"
                                src="https://br.web.img3.acsta.net/pictures/17/08/25/11/58/463146.jpg" alt="">
                            <!-- Apenas um botão de play -->
                            <button class="play-button-um">▶</button> <!-- Novo botão de play -->
                        </a>
                        <h4 class="movie-title">Blade Runner 2049</h4>
                        <div class="movie-info">
                            <span class="movie-year">2017</span>
                            <span class="movie-rating">⭐ 4.5</span>

                        </div>
                    </div>
                    <div class="carousel-item carrossel-um">
                        <a href="#">
                            <img class="carrossel-um"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfG1TPdn9qevW-M5UEv-4F1BqgWm3VdTIdR9xM7H_pwGJ-BDzt"
                                alt="">
                            <!-- Apenas um botão de play -->
                            <button class="play-button-um">▶</button> <!-- Novo botão de play -->
                        </a>
                        <h4 class="movie-title">Divertida Mente 2</h4>
                        <div class="movie-info">
                            <span class="movie-year">2024</span>
                            <span class="movie-rating">⭐ 5.0</span>

                        </div>
                    </div>
                    <div class="carousel-item carrossel-um">
                        <a href="#">
                            <img class="carrossel-um"
                                src="https://ingresso-a.akamaihd.net/prd/img/movie/meu-malvado-favorito-4/4d756249-3b88-4b59-baa2-527f5e3d4c3e.webp"
                                alt="">
                            <!-- Apenas um botão de play -->
                            <button class="play-button-um">▶</button> <!-- Novo botão de play -->
                        </a>
                        <h4 class="movie-title">Meu Malvado Favorito 4</h4>
                        <div class="movie-info">
                            <span class="movie-year">2024</span>
                            <span class="movie-rating">⭐ 4.1</span>

                        </div>
                    </div>
                    <div class="carousel-item carrossel-um">
                        <a href="#">
                            <img class="carrossel-um"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYirR94uovQIQJupt921e767nzgz9V9bdPK6_AVjkJ5HwoHFdU"
                                alt="">
                            <!-- Apenas um botão de play -->
                            <button class="play-button-um">▶</button> <!-- Novo botão de play -->
                        </a>
                        <h4 class="movie-title">Moana 2</h4>
                        <div class="movie-info">
                            <span class="movie-year">2024</span>
                            <span class="movie-rating">⭐ 4.4</span>

                        </div>
                    </div>
                    <div class="carousel-item carrossel-um">
                        <a href="#">
                            <img class="carrossel-um"
                                src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRpsQ-QSUCk430VuvwPWqMxE9f0sGzpSBFy1Q-c-xCALwyHKTGG"
                                alt="">
                            <!-- Apenas um botão de play -->
                            <button class="play-button-um">▶</button> <!-- Novo botão de play -->
                        </a>
                        <h4 class="movie-title">A Arte de Amar</h4>
                        <div class="movie-info">
                            <span class="movie-year">2024</span>
                            <span class="movie-rating">⭐ 5.8</span>

                        </div>
                    </div>
                    <div class="carousel-item carrossel-um">
                        <a href="#">
                            <img class="carrossel-um"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1dQNmfSIdrkcP0p8LsEduIeQciEFrNE9s8g&s"
                                alt="">
                            <!-- Apenas um botão de play -->
                            <button class="play-button-um">▶</button> <!-- Novo botão de play -->
                        </a>
                        <h4 class="movie-title">Deadpool & Wolverine</h4>
                        <div class="movie-info">
                            <span class="movie-year">2024</span>
                            <span class="movie-rating">⭐ 5.9</span>

                        </div>
                    </div>
                    <div class="carousel-item carrossel-um">
                        <a href="#">
                            <img class="carrossel-um"
                                src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRUIFM6KonL1c8k06kqtRbY_1CKERViw0UMjIdMy266Fha8ToAI"
                                alt="">
                            <!-- Apenas um botão de play -->
                            <button class="play-button-um">▶</button> <!-- Novo botão de play -->
                        </a>
                        <h4 class="movie-title">Imaculada</h4>
                        <div class="movie-info">
                            <span class="movie-year">2024</span>
                            <span class="movie-rating">⭐ 4.9</span>

                        </div>
                    </div>

                </div>
                <img src="{% static 'imagens/vectores/seta-direita.png' %}" alt="Seta Direita"
                    class="carousel-1 right-arrow">
            </div>
        </section>


        <script src="{% static 'javascripts/reproduçao.js' %}"></script>
        <script src="{% static 'javascripts/lupa.js' %}"></script>
        <script src="{% static 'javascripts/header.js' %}"></script>
        <script src="{% static 'javascripts/playervideo.js' %}"></script>
        <script src="{% static 'javascripts/rolagem.js' %}"></script>


    </div>
</body>

</html>