<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Encontre os melhores trailers de filmes, séries, animes e doramas. Explore lançamentos e produções famosas com uma experiência visual incrível.">
    <meta property="og:title" content="Cinetrailers">
    <meta property="og:description"
        content="Encontre os melhores trailers de filmes, séries, animes e doramas. Explore lançamentos e produções famosas com uma experiência visual incrível.">

    <title>Configurações - Assinaturas </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/controle_usuario/assinaturas.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="icon" href="{% static 'imagens/favicon cinetrailers.png' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'imagens/favicon cinetrailers.png' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="site-logo">
            <a href="{% url 'index' %}" class="logo-text">CINESPACE</a>
        </div>

        <nav class="nav-menu">
            <ul>
                <li><a href="{% url 'filmes' %}">FILMES</a></li>
                <li><a href="{% url 'series' %}">SERIES</a></li>
                <li><a href="{% url 'animes' %}">ANIMES</a></li>
                <li><a href="{% url 'esportes' %}">SPACE ESPORTES</a></li>
                <li><a href="{% url 'space_music' %}">SPACE MUSIC</a></li>
            </ul>
        </nav>

        <div class="header-icons">
            <a href="{% url 'resultados' %}">
                <div id="search-icon" class="search-icon">
                    <img src="{% static 'imagens/vectores/lupavec.png' %}" alt="Pesquisar">
                </div>
            </a>


            <div id="I.A-icon" class="alert-icon">
                <img src="{% static 'imagens/vectores/spacebot-vec.png' %}" alt="Favoritos">
            </div>


            <div class="profile-header">
                <img id="profileImage" src="{% static 'imagens/default/profile.jpg' %}" alt="Perfil"
                    class="perfil-image">
                <img id="arrowIcon" src="{% static 'imagens/vectores/setaprabaixovec.png' %}" alt="Abrir menu"
                    class="arrow-icon">
                <div class="menu-perfil">
                    <!-- Link para a página inicial (Home) -->
                    <a href="{% url 'cinetrailers' %}" class="menu-item">
                        <img src="{% static 'imagens/vectores/homevec.png' %}" alt="Home">
                        <span class="menu-text">Home</span>
                    </a>

                    <!-- Link para a página de configurações -->
                    <a href="{% url 'conta' %}" class="menu-item">
                        <img src="{% static 'imagens/vectores/configvec.png' %}" alt="Configurações">
                        <span class="menu-text">Configurações</span>
                    </a>

                    <!-- Link para a página de escolher usuário (Trocar Perfil) -->
                    <a href="{% url 'escolherusuario' %}" class="menu-item">
                        <img src="{% static 'imagens/vectores/perfilvec.png' %}" alt="Trocar-Perfil">
                        <span class="menu-text">Trocar Perfil</span>
                    </a>

                    <!-- Link para a página de gerenciar perfis (Editar) -->
                    <a href="{% url 'gerenciar_perfis' %}" class="menu-item">
                        <img src="{% static 'imagens/vectores/lapisvec.png' %}" alt="EditarPerfil">
                        <span class="menu-text">Editar Perfil</span>
                    </a>

                    <!-- Link para a página de ajuda -->
                    <a href="{% url 'ajuda' %}" class="menu-item">
                        <img src="{% static 'imagens/vectores/ajudavec.png' %}" alt="Ajuda">
                        <span class="menu-text">Ajuda</span>
                    </a>

                    <!-- Link para logout -->
                    <a href="{% url 'logout' %}" class="menu-item">
                        <img src="{% static 'imagens/vectores/sairvec.png' %}" alt="Sair">
                        <span class="menu-text">Sair</span>
                    </a>
                </div>
            </div>
    </header>

    <!-- Janela do Chat Bot -->
    <div id="chat-window" class="chat-window">
        <div class="chat-header">
            <h2>SPACE BOT</h2>
            <button id="close-chat">X</button>
        </div>
        <div class="chat-content">
            <!-- Textos acima dos blocos -->
            <div class="chat-texts">
                <h1>SPACE BOT</h1>
                <p class="subtitle">Chat bot</p>
            </div>

            <!-- Blocos de Comando -->
            <div class="blocks">
                <div class="block" id="block-fotos">
                    <img src="{% static 'imagens/spacebot/vectores/fotosvec.png' %}" alt="Ícone Criar"
                        class="block-icon">
                    <p class="block-text">Criar fotos</p>
                </div>
                <div class="block" id="block-textos">
                    <img src="{% static 'imagens/spacebot/vectores/textovec.png' %}" alt="Ícone Texto"
                        class="block-icon">
                    <p class="block-text">Criar textos</p>
                </div>
                <div class="block" id="block-conversar">
                    <img src="{% static 'imagens/spacebot/vectores/conversarvec.png' %}" alt="Ícone Conversar"
                        class="block-icon">
                    <p class="block-text">Conversar</p>
                </div>
                <div class="block" id="block-agendar">
                    <img src="{% static 'imagens/spacebot/vectores/agendavec.png' %}" alt="Ícone Agendar"
                        class="block-icon">
                    <p class="block-text">Agendar</p>
                </div>
            </div>

            <!-- Área do Chat -->
            <div class="chat-container">
                <div class="chat-messages" id="chat-messages">
                    <div class="loading-indicator" id="loading-indicator" style="display: none;">
                        <div class="spinner"></div>
                    </div>
                </div>
            </div>

            <!-- Barra de Mensagens -->
            <div class="message-bar-container">
                <div class="message-bar">
                    <textarea placeholder="Envie sua mensagem" class="message-input" id="userInput"></textarea>
                    <div class="message-icons">
                        <img src="{% static 'imagens/spacebot/vectores/galeriavec.png' %}" alt="Ícone Galeria"
                            class="icon">
                        <div class="divider"></div>
                        <img src="{% static 'imagens/spacebot/vectores/micvec.png' %}" alt="Ícone Microfone"
                            class="icon" id="micButton">
                    </div>
                    <div class="send-button" id="sendButton">
                        <img src="{% static 'imagens/spacebot/vectores/enviarvec.png' %}" alt="Ícone Enviar"
                            class="icon">
                    </div>
                </div>
            </div>
            <!-- Mensagem abaixo da barra de mensagens -->
            <div class="footer-message">
                <p>
                    Esta é apenas uma janela do SPACEBOT. Se quiser ter uma experiência melhor, acesse o <a
                        href="{% url 'spacebot' %}" target="_blank" class="spacebot-link">SPACEBOT</a>.
                </p>
            </div>
        </div>
    </div>


    <!-- Menu de Categorias -->
    <div class="categories-container">
        <div class="categories-menu">
            <div class="category-item">
                <a href="{% url 'conta' %}"
                    class="category-button {% if request.path == '/conta/' %}active{% endif %}">Conta</a>
            </div>
            <div class="category-item">
                <a href="{% url 'assinaturas' %}"
                    class="category-button {% if request.path == '/assinaturas/' %}active{% endif %}">Assinatura</a>
            </div>
            <div class="category-item">
                <a href="{% url 'ajuda' %}"
                    class="category-button {% if request.path == '/ajuda/' %}active{% endif %}">Ajuda</a>
            </div>
        </div>
    </div>

    <main class="main-content">
        <div class="assinaturas-container">
            <div class="assinaturas-content">
                <div class="assinaturas-header">
                    <h1 class="assinaturas-title">Assinaturas</h1>
                    <p class="assinaturas-subtitle">Suas assinaturas</p>
                </div>

                <!-- Seção de Planos -->
                <div class="planos">
                    {% for plano in planos %}
                    <div class="plano-card {% if plano.tipo == plano_atual %}plano-atual{% endif %}">
                        <h2 class="plano-title">{{ plano.titulo }}</h2>
                        <p class="plano-description">{{ plano.descricao }}</p>
                        <div class="plano-price">
                            <span class="price">R$ {{ plano.preco }}</span><span class="period">{{ plano.periodo
                                }}</span>
                        </div>
                        {% for info in plano.infos %}
                        <p class="plano-info">{{ info }}</p>
                        {% endfor %}
                        {% if plano.tipo == plano_atual %}
                        <button class="plano-botao" disabled>Plano Atual</button>
                        {% elif plano.upgrade %}
                        <button class="plano-botao upgrade">Faça Upgrade para Space Music</button>
                        {% else %}
                        <button class="plano-botao">Assinar</button>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>

                <!-- Seção do Pagante -->
                <div class="pagante-section">
                    <h3 class="pagante-title">Pagante</h3>
                    <div class="pagante-input-container">
                        <input type="text" class="pagante-input"
                            value="{{ nome_pagante|default:'Nenhum nome encontrado' }}" disabled>
                    </div>
                </div>

                <!-- Seção de Pagamentos Salvos -->
                <div class="pagamentos-salvos-section">
                    <h3 class="pagamentos-salvos-title">Pagamentos salvos</h3>
                    <div class="pagamentos-salvos-options">
                        <div class="pagamento-item">
                            <div class="pagamento-option pagamento-option-default" data-payment-type="cartao_credito">
                                <img src="{% static 'imagens/vectores/cartaocreditovec.png' %}" alt="Cartão de crédito"
                                    class="pagamento-icon">
                                <span class="pagamento-text">Cartão de crédito</span>
                            </div>
                            <div class="pagamento-detalhes-cartao" id="cartaoCreditoDetalhes">
                                <div class="cartao-container">
                                    <div class="cartao-header">
                                        <h4 class="cartao-tipo">Mastercard</h4>
                                        <img src="{% static 'imagens/vectores/lapisvec.png' %}" alt="Cartão de crédito"
                                            class="cartao-header-icon">
                                    </div>
                                    <div class="cartao-info">
                                        <img src="https://logodownload.org/wp-content/uploads/2014/07/mastercard-logo-8.png"
                                            alt="Mastercard" class="cartao-bandeira-icon">
                                        <div class="cartao-dados">
                                            <span class="cartao-numero">{{ numero_cartao_mascarado }}</span>
                                            <span class="cartao-nome">{{ nome_exibicao }}</span>
                                        </div>
                                    </div>
                                </div>
                                <p class="assinatura-info">Plano: <span class="assinatura-valor">{{ assinatura.plano
                                        }}</span></p>
                                <p class="assinatura-info">Tipo de Pagamento: <span class="assinatura-valor">{{
                                        assinatura.tipo_pagamento }}</span></p>
                                <p class="assinatura-info">Próxima Cobrança: <span class="assinatura-valor">{{
                                        assinatura.proxima_cobranca|date:"d/m/Y" }}</span></p>
                            </div>
                        </div>
                        <div class="pagamento-item">
                            <div class="pagamento-option pagamento-option-default"
                                data-payment-type="transferencia_bancaria">
                                <img src="{% static 'imagens/vectores/transferenciavec.png' %}"
                                    alt="Transferência Bancária" class="pagamento-icon">
                                <span class="pagamento-text">Transferência Bancária</span>
                            </div>
                        </div>
                        <div class="pagamento-item">
                            <div class="pagamento-option pagamento-option-default" data-payment-type="space_points">
                                <img src="{% static 'imagens/vectores/spacepointsvec.png' %}" alt="Space Points"
                                    class="pagamento-icon">
                                <span class="pagamento-text">Space Points</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Histórico de Pagamento -->
                <div class="historico-pagamento-section">
                    <h3 class="historico-pagamento-title">Histórico de pagamento</h3>
                    <div class="historico-pagamento-container">
                        <table class="historico-pagamento-table">
                            <thead>
                                <tr class="historico-header-row">
                                    <th>No</th>
                                    <th>Assinatura</th>
                                    <th>Data</th>
                                    <th>ID transação</th>
                                    <th>Método de Pagamento</th>
                                    <th>Valor</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pagamento in historico_pagamentos %}
                                <tr class="historico-data-row">
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ assinatura.plano|title }}</td> <!-- Nome do plano -->
                                    <td>{{ pagamento.data|date:"d/m/Y" }}</td>
                                    <td>{{ pagamento.id_transacao }}</td>
                                    <td>Cartão de Crédito</td> <!-- Método de Pagamento Genérico -->
                                    <td>R$ {{ pagamento.valor }}</td>
                                    <td>Pago</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <h2>CINESPACE</h2>
        <div class="footer-content">
            <div>
                <h4>INSTITUCIONAL</h4>
                <p>Sobre nós</p>
                <p>Termos de uso</p>
                <p>Política de privacidade</p>
            </div>
            <div>
                <h4>SUPORTE</h4>
                <p>Ajuda</p>
                <p>Contato</p>
                <p>FAQ</p>
            </div>
            <div>
                <h4>CONTEÚDO</h4>
                <p>Filmes</p>
                <p>Séries</p>
                <p>Novidades</p>
            </div>
            <div>
                <h4>PARCERIAS</h4>
                <p>Produtoras</p>
                <p>Anunciantes</p>
                <p>Afiliados</p>
            </div>
            <div>
                <h4>ASSINATURA</h4>
                <p>Planos</p>
                <p>Promoções</p>
                <p>Cancelamento</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>English | Português | Español | Français | Italiano | Deutsch | 日本語 | 中文</p>
            <p>&copy; 2025 Cinespace, LLC. Todos os direitos reservados. Todos os elementos pertencem aos seus respectivos proprietários.</p>
        </div>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const paymentOptions = document.querySelectorAll('.pagamento-option-default');
            const cartaoCreditoDetalhes = document.getElementById('cartaoCreditoDetalhes');
            const pagamentoSalvosSection = document.querySelector('.pagamentos-salvos-section');

            paymentOptions.forEach(option => {
                option.addEventListener('click', function (event) {
                    event.stopPropagation();

                    if (this.classList.contains('active')) {
                        this.classList.remove('active');
                        cartaoCreditoDetalhes.classList.remove('active-details');
                    } else {
                        paymentOptions.forEach(opt => opt.classList.remove('active'));
                        document.querySelectorAll('.pagamento-detalhes-cartao').forEach(detail => detail.classList.remove('active-details'));

                        this.classList.add('active');

                        if (this.dataset.paymentType === 'cartao_credito') {
                            cartaoCreditoDetalhes.classList.add('active-details');
                        } else {
                            cartaoCreditoDetalhes.classList.remove('active-details');
                        }
                    }
                });
            });

            document.addEventListener('click', function (event) {
                if (!pagamentoSalvosSection.contains(event.target)) {
                    paymentOptions.forEach(opt => opt.classList.remove('active'));
                    document.querySelectorAll('.pagamento-detalhes-cartao').forEach(detail => detail.classList.remove('active-details'));
                }
            });
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const profileHeader = document.querySelector(".profile-header");
            const menuPerfil = document.querySelector(".menu-perfil");
            let timeoutID;

            profileHeader.addEventListener("click", (event) => {
                event.stopPropagation();
                if (menuPerfil.style.display === "flex") {
                    menuPerfil.style.display = "none";
                } else {
                    menuPerfil.style.display = "flex";
                }
            });

            function fecharMenu() {
                timeoutID = setTimeout(() => {
                    menuPerfil.style.display = "none";
                }, 200);
            }

            profileHeader.addEventListener("mouseleave", fecharMenu);
            menuPerfil.addEventListener("mouseleave", fecharMenu);

            menuPerfil.addEventListener("mouseenter", () => {
                clearTimeout(timeoutID);
            });

            document.addEventListener("click", (event) => {
                if (!profileHeader.contains(event.target) && !menuPerfil.contains(event.target)) {
                    menuPerfil.style.display = "none";
                }
            });
        });
    </script>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/franc@6.1.0/dist/franc.min.js"></script>
    <script src="{% static 'javascripts/chatbot.js' %}"></script>
    <script src="{% static 'javascripts/lupa.js' %}"></script>
    <script src="{% static 'javascripts/header.js' %}"></script>
</body>

</html>